.btn-rounded {
    border-radius: 50px;
    padding: 0.375rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}


.buttons-csv {
    color: #fff;
    font-weight: 400;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: .15rem;
    font-size: .875rem;
    line-height: 1.5;
    padding: 7px 20px;
}

.box {
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    /* margin-bottom: 30px 20px; */
}

.box-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem !important;
}

.search-wrapper {
    display: flex;
    align-items: center;
    /* Vertically center label and input */
    gap: 8px;
    /* Space between label and input */
}

.search-label {
    font-weight: 500;
    font-size: 14px;
}

.search-input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Slightly rounded */
    padding: 0.25rem 0.5rem;
    height: 28px;
    width: 180px;
    transition: border-color 0.3s ease;
    font-size: 14px;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: none;
}

.action-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0d9965 !important;
  background-color: #fff;
  color: #0d9965 !important;
  transition: all 0.2s;
}

.action-btn:hover {
  background-color: #0d9965 !important;
  color: #fff !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.dropdown-wrapper {
    position: relative;
}

.action-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
}


/* form */

.form-wizard-header {
  
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    color: #fff !important;
    background-color: #e3eaef;
    

}

/* .nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
} */
